<head>
    <title><%= title %></title>
    <script type="text/javascript" src="javascripts/fundamental/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/fundamental/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/fundamental/semantic.min.js"></script>
    <script type="text/javascript" src="javascripts/<%= javaScript %>.js"></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

    <link rel="stylesheet" href="stylesheets/semantic.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="stylesheets/timeline.scss"/>


    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

    <!--todo poskidati sve linkove-->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Lobster|Reenie+Beanie|Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css" rel="stylesheet">

</head>
