<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/semantic.min.css"/>
    <link rel="stylesheet" href="stylesheets/glide.core.min.css"/>
    <link rel="stylesheet" href="stylesheets/glide.theme.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="/public/stylesheets/loaders.min.css"/>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <!--todo poskidati sve linkove-->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Lobster|Reenie+Beanie|Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


</head>
