<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Nikola Maletić - Full Stack Web Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="It is paradoxical, yet true, to say, that the more we know, the more ignorant we become in the absolute sense, for it is only through enlightenment that we become conscious of our limitations.">
    <link rel="stylesheet" href="/stylesheets/semantic.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/aos.css"/>
    <link rel="stylesheet" href="/stylesheets/googleFonts.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css"/>
    <link rel="stylesheet"
          href="/stylesheets/devicon.min.css"/>
    <link rel="stylesheet" href="/stylesheets/themes/default/flag.min.css"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106758207-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-106758207-1');
    </script>
</head>

<body class="noScroll" ng-controller="myCtrl">
<div class="overlay">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div ng-hide="false" class="ui fixed inverted menu">
    <div class="ui container">
        <a class="header item">
            NM
        </a>
        <a class="ui right aligned middle aligned grid item" style="width:90%; border-left: none">
            <div class="ui grid tiny progress navibarProgress" style="width:100%">
                <div class="bar colorRed"></div>
            </div>
        </a>
        <a ng-click="showPopup = !showPopup; showPopupFun()" class="item _location" style="cursor: pointer;">
            <div class="floating ui red label" style="font-size: .5em; top:1.1em; left:76%">!</div>
            <i class="{{location.country_code.toLowerCase()}} flag"
               style="background: transparent; padding:0; margin: 0"></i>
        </a>
    </div>
</div>
<div ng-show="showPopup" class="ui right floating segment raised black _dropdown">
    <div class="ui grid" style="padding: 0 1.5rem 1.5rem 1.5rem">
        <div class="sixteen wide column">
            <h2 class="ui large center aligned icon header" style="font-family: 'Lobster', cursive;">
                <i class="circular world icon"></i>
                {{'language.1' | translate}}{{location.country}} <i
                        class="{{location.country_code.toLowerCase()}} flag"
                        style="background: transparent; padding:0; margin: 0"></i>
            </h2>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment">
                <p>{{'language.2' | translate}}</p>
            </div>
            <h3 class="ui divider"></h3>
            <div ng-if="currentLanguage == 'en'" ng-click="changeLanguage('rs')" class="ui segment languageChange">
                <p>{{'language.3' | translate}}</p>
            </div>
            <div ng-if="currentLanguage == 'rs'" ng-click="changeLanguage('en')" class="ui segment languageChange">
                <p>{{'language.3' | translate}}</p>
            </div>
        </div>
    </div>
</div>

<!--Head-->
<div id="first" class="computer only ui grid sixteen wide column center aligned">
    <div class="headPage">
        <h5>{{'introducing.hello'|translate}}</h5>
        <h1>{{'introducing.fullName'|translate}}</h1>
        <h5 style="color: white">{{'introducing.webDeveloper'|translate}}</h5>
        <div class="ui grid center aligned">
            <div class="sixteen wide column icons">
                <a href="https://www.linkedin.com/in/nikola-maletic/" target="_blank">
                    <i class="ui large circular linkedin f icon"></i>
                </a>
                <a href="https://www.facebook.com/leMaleta88" target="_blank">
                    <i class="ui large circular facebook f icon"></i>
                </a>
                <a href="https://www.instagram.com/le_maleta" target="_blank">
                    <i class="ui large circular instagram icon"></i>
                </a>
                <i class="ui large circular mail outline icon"></i>
            </div>
            <div class="scroll-btn">
                <a href="#">
		<span class="mouse">
			<span>
			</span>
		</span>
                </a>
                <!--<p>scroll me</p>-->
            </div>
        </div>
    </div>
</div>
<!--Mobile/Tablet-->
<div id="first" class="tablet only mobile only ui grid sixteen wide column center aligned">
    <div class="headPage">
        <h5>{{'introducing.hello'|translate}}</h5>
        <h1>{{'introducing.fullName'|translate}}</h1>
        <h5 style="color: white">{{'introducing.webDeveloper'|translate}}</h5>
        <div class="ui grid center aligned">
            <div class="sixteen wide column icons">
                <a href="https://www.linkedin.com/in/nikola-maletic/" target="_blank">
                    <i class="ui large circular linkedin f icon"></i>
                </a>
                <a href="https://www.facebook.com/leMaleta88" target="_blank">
                    <i class="ui large circular facebook f icon"></i>
                </a>
                <a href="https://www.instagram.com/le_maleta" target="_blank">
                    <i class="ui large circular instagram icon"></i>
                </a>
                <i class="ui large circular mail outline icon"></i>
            </div>
        </div>
    </div>
</div>

<!--About Myself-->
<div style="margin: 0 0 0 0;" id="second" class="computer only ui grid sixteen wide column">
    <div class="ui grid twelve wide column centered aligned middle aligned">
        <h1 class="TabHead">{{'aboutMe.title'|translate}}</h1>
        <div class="four wide column">
            <img class="ui medium circular image" src="images/profile.jpg" alt="Profile picture"/>
        </div>
        <div class="ui eleven wide column">
            <p style="font-size: 18px; text-align: justify">
                {{'aboutMe.content'|translate}}
                <br>
                {{'aboutMe.greetings'|translate}}
            </p>
        </div>
    </div>
</div>
<!--Mobile/Tablet-->
<div style="margin: 0 0 0 0;" class="tablet only mobile only ui grid sixteen wide column center aligned">
    <h1 class="TabHeadMobile">{{'aboutMe.title'|translate}}</h1>
    <div class="fourteen wide column">
        <img class="ui medium circular image" src="images/profile.jpg" alt="Profile picture"/>
    </div>
    <div class="sixteen wide column">
        <p style="font-size: 18px; text-align: justify">
            {{'aboutMe.content'|translate}}
            <br>
            {{'aboutMe.greetings'|translate}}
        </p>
    </div>
</div>

<!--Skills-->
<div id="third" class="computer only ui grid sixteen wide column">
    <div class="ui grid twelve wide column centered aligned">
        <div class="seven wide column">
            <h2 style="font-family: 'Lobster', cursive;">{{'profile.profile'|translate}}</h2>
            <p style="font-size: 20px; text-align: justify">
                {{'profile.details'|translate}}
            </p>
            <div class="ui segment">
                <p class="infoHead">{{'profile.fullNameHead'|translate}}</p>
                <p class="infoDetails">{{'profile.fullName'|translate}}</p>
            </div>
            <div class="ui segment">
                <p class="infoHead">{{'profile.dateOfBirthHead'|translate}}</p>
                <p class="infoDetails">{{'profile.dateOfBirth'|translate}}</p>
            </div>
            <div class="ui segment">
                <p class="infoHead">{{'profile.currentHead'|translate}}</p>
                <p class="infoDetails">{{'profile.current'|translate}}</p>
            </div>
            <div class="ui segment">
                <p class="infoHead">{{'profile.webSiteHead'|translate}}</p>
                <p class="infoDetails">{{'profile.webSite'|translate}}</p>
            </div>
            <div class="ui segment">
                <p class="infoHead">{{'profile.skypeHead'|translate}}</p>
                <p class="infoDetails">{{'profile.skype'|translate}}</p>
            </div>
            <div class="ui segment">
                <p class="infoHead">{{'profile.email.head'|translate}}</p>
                <p class="infoDetails" style="margin: 0">{{'profile.email.1'|translate}}</p>
                <p class="infoDetails" style="margin: 0">{{'profile.email.2'|translate}}</p>
            </div>

        </div>
        <div class="seven wide column">
            <h2 style="font-family: 'Lobster', cursive;">{{'knowledge.head'|translate}}</h2>
            <p style="font-size: 20px; text-align: justify">
                {{'knowledge.details.1'|translate}}<br>
                {{'knowledge.details.2'|translate}}
            </p>
            <div class="ui segment">
                <div class="ui active progress pHTML">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">HTML</div>
                </div>
                <div class="ui active progress pCSS">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">CSS3</div>
                </div>
                <div class="ui active progress pJS">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">JavaScrip</div>
                </div>
                <div class="ui active progress pPHP">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label left floated">PHP</div>
                </div>
                <div class="ui active progress pC">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label left floated">C# ( in progress )</div>
                </div>
            </div>
            <div class="ui segment">
                <div class="ui active progress pAngular">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">Angular 5</div>
                </div>
                <div class="ui active progress pAngularJS">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">AngularJS</div>
                </div>
                <div class="ui active progress pNode">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">NodeJS</div>
                </div>
                <div class="ui active progress pNet">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">.NET ( in progress )</div>
                </div>
            </div>
            <div class="ui segment">
                <div class="ui active progress pMySQL">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label left floated">MySQL</div>
                </div>
                <div class="ui active progress pSQL">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label left floated">SQL</div>
                </div>
            </div>
            <div class="ui segment">
                <div class="ui active progress pPhotoShop">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label left floated">PhotoShop</div>
                </div>
                <div class="ui active progress pIllustrator">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label left floated">Illustrator</div>
                </div>
            </div>
        </div>

        <div class="sixteen wide column centered aligned">
            <a href="https://drive.google.com/file/d/10XoLAnmm8iQEHGO4MkjgIVBNrsnbOw4z/view" target="_blank"
               style="padding: 1rem 3rem 1rem 3rem" class="ui black icon button ">
                <i class="download icon"></i>
                {{'cvButton'|translate}}
            </a>
        </div>
    </div>

</div>
<!--Mobile/Tablet-->
<div id="third" class="tablet only mobile only ui grid sixteen wide column centered aligned">

    <div class="sixteen wide column">
        <h2 style="font-family: 'Lobster', cursive;">{{'profile.profile'|translate}}</h2>
        <p style="font-size: 20px; text-align: justify">
            {{'profile.details'|translate}}
        </p>
        <div class="ui segment">
            <p class="infoHead">{{'profile.fullNameHead'|translate}}</p>
            <p class="infoDetails">{{'profile.fullName'|translate}}</p>
        </div>
        <div class="ui segment">
            <p class="infoHead">{{'profile.dateOfBirthHead'|translate}}</p>
            <p class="infoDetails">{{'profile.dateOfBirth'|translate}}</p>
        </div>
        <div class="ui segment">
            <p class="infoHead">{{'profile.currentHead'|translate}}</p>
            <p class="infoDetails">{{'profile.current'|translate}}</p>
        </div>
        <div class="ui segment">
            <p class="infoHead">{{'profile.webSiteHead'|translate}}</p>
            <p class="infoDetails">{{'profile.webSite'|translate}}</p>
        </div>
        <div class="ui segment">
            <p class="infoHead">{{'profile.skypeHead'|translate}}</p>
            <p class="infoDetails">{{'profile.skype'|translate}}</p>
        </div>
        <div class="ui segment">
            <p class="infoHead">{{'profile.email.head'|translate}}</p>
            <p class="infoDetails" style="margin: 0">{{'profile.email.1'|translate}}</p>
            <p class="infoDetails" style="margin: 0">{{'profile.email.2'|translate}}</p>
        </div>
    </div>

    <div class="sixteen wide column">
        <h2 style="font-family: 'Lobster', cursive;">{{'knowledge.head'|translate}}</h2>
        <p style="font-size: 20px; text-align: justify">
            {{'knowledge.details.1'|translate}}<br>
            {{'knowledge.details.2'|translate}}
        </p>
        <div class="ui segment">
            <div class="ui active progress pHTML">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">HTML</div>
            </div>
            <div class="ui active progress pCSS">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">CSS3</div>
            </div>
            <div class="ui active progress pJS">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">JavaScrip</div>
            </div>
            <div class="ui active progress pPHP">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label left floated">PHP</div>
            </div>
            <div class="ui active progress pC">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label left floated">C# ( in progress )</div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui active progress pAngular">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">Angular 5</div>
            </div>
            <div class="ui active progress pAngularJS">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">AngularJS</div>
            </div>
            <div class="ui active progress pNode">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">NodeJS</div>
            </div>
            <div class="ui active progress pNet">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">.NET ( in progress )</div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui active progress pMySQL">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label left floated">MySQL</div>
            </div>
            <div class="ui active progress pSQL">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label left floated">SQL</div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui active progress pPhotoShop">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label left floated">PhotoShop</div>
            </div>
            <div class="ui active progress pIllustrator">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label left floated">Illustrator</div>
            </div>
        </div>
    </div>

    <div class="sixteen wide column centered aligned">
        <a href="https://drive.google.com/file/d/10XoLAnmm8iQEHGO4MkjgIVBNrsnbOw4z/view" target="_blank"
           style="padding: 1rem 3rem 1rem 3rem" class="ui black basic icon button ">
            <i class="download icon"></i>
            {{'cvButton'|translate}}
        </a>
    </div>
</div>

<!--Contact Button-->
<div class="ui grid middle aligned centered aligned imageDiv contactMe">
    <div class="sixteen wide column center aligned">
        <h1 style="color: white">
            {{'contactField.head'|translate}}
        </h1><br>
        <button class="ui inverted button">
            {{'contactField.button'|translate}}
        </button>
    </div>
</div>

<!--TimeLine-->
<div class="computer only ui grid sixteen wide column centered aligned">
    <div class="ui grid sixteen wide column center aligned timelineHeader">
        <span>{{'workExp.head'|translate}}</span>
    </div>

    <ul class="timeline">
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="hexa"></span>
                    <div data-aos="fade-left" data-aos-once="true">
                        <span class="flag">SETVI</span>
                        <span class="time-wrapper"><span class="time">Jul 2018</span></span>
                        <div class="desc">{{'workExp.content.2'|translate}}
                            <br><a href="http://poduzetnik.efos.hr/" target="_blank">http://web.setvi.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="hexa"></span>
                    <div data-aos="fade-left" data-aos-once="true">
                        <span class="flag">Želim postati poduzetnik</span>
                        <span class="time-wrapper"><span class="time">Avgust 2017</span></span>
                        <div class="desc">{{'workExp.content.1'|translate}}
                            <br><a href="http://poduzetnik.efos.hr/" target="_blank">http://poduzetnik.efos.hr/</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <div class="ui grid sixteen wide column center aligned timelineHeaderSecond">
        <span>{{'education.head'|translate}}</span>
    </div>

    <ul class="timeline timelineSecond">
        <!-- Item 1 -->
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="hexa"></span>
                    <div data-aos="fade-right" data-aos-once="true">
                        <span class="flag">Računarski fakultet</span>
                        <span class="time-wrapper"><span class="time">Septembar 2015</span></span>
                        <div class="desc">{{'education.content.1'|translate}}
                            <br><a href="https://raf.edu.rs/" target="_blank">https://raf.edu.rs</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- Item 2 -->
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="hexa"></span>
                    <div data-aos="fade-left" data-aos-once="true">
                        <span class="flag">ETŠ "Nikola Tesla"</span>
                        <span class="time-wrapper"><span class="time">Septembar 2011 - Jun 2015</span></span>
                        <div class="desc">{{'education.content.2'|translate}}
                            <br><a href="http://www.teslabg.edu.rs" target="_blank">http://www.teslabg.edu.rs</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--Mobile/Tablet-->
<div class="tablet only mobile only ui grid sixteen wide column centered aligned">
    <div class="ui grid sixteen wide column center aligned timelineHeaderSecond">
        <span>{{'education.head'|translate}}</span>
    </div>

    <ul class="timeline">
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="hexa"></span>
                    <div data-aos="fade-left" data-aos-once="true">
                        <span class="flag">SETVI</span>
                        <span class="time-wrapper"><span class="time">Jul 2018</span></span>
                        <div class="desc">{{'workExp.content.2'|translate}}
                            <br><a href="http://poduzetnik.efos.hr/" target="_blank">http://web.setvi.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="hexa"></span>
                    <div data-aos="fade-left" data-aos-once="true">
                        <span class="flag">Želim postati poduzetnik</span>
                        <span class="time-wrapper"><span class="time">Avgust 2017</span></span>
                        <div class="desc">{{'workExp.content.1'|translate}}
                            <br><a href="http://poduzetnik.efos.hr/" target="_blank">http://poduzetnik.efos.hr/</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul class="timeline timelineSecond">
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="hexa"></span>
                    <div data-aos="fade-left" data-aos-once="true">
                        <span class="flag">SETVI</span>
                        <span class="time-wrapper"><span class="time">Jul 2018</span></span>
                        <div class="desc">{{'workExp.content.1'|translate}}
                            <br><a href="http://poduzetnik.efos.hr/" target="_blank">http://web.setvi.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="hexa"></span>
                    <div data-aos="fade-right" data-aos-once="true">
                        <span class="flag">Računarski fakultet</span>
                        <span class="time-wrapper"><span class="time">Septembar 2015</span></span>
                        <div class="desc">{{'education.content.1'|translate}}
                            <br><a href="https://raf.edu.rs/" target="_blank">https://raf.edu.rs</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- Item 2 -->
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="hexa"></span>
                    <div data-aos="fade-left" data-aos-once="true">
                        <span class="flag">ETŠ "Nikola Tesla"</span>
                        <span class="time-wrapper"><span class="time">Septembar 2011 - Jun 2015</span></span>
                        <div class="desc">{{'education.content.2'|translate}}
                            <br><a href="http://www.teslabg.edu.rs" target="_blank">http://www.teslabg.edu.rs</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="computer only five ui grid sixteen wide column centered aligned greyBackground">

    <div class="fiveSecond ui grid sixteen wide column">
        <!--<h1 class="TabHeadSecond sixteen wide column center">Nekoliko pametnih reči</h1>-->

        <div data-am-fadeshow="next-prev-navigation">

            <!-- Radio -->
            <input type="radio" name="css-fadeshow" id="slide-1"/>
            <input type="radio" name="css-fadeshow" id="slide-2"/>
            <input type="radio" name="css-fadeshow" id="slide-3"/>

            <!-- Slides -->
            <div class="fs-slides">
                <div class="fs-slide">
                    <div class="ui grid centered">
                        <div class="ui raised card">
                            <div class="content">
                                <div class="description">
                                    <p style="font-size: 18px;">It is paradoxical, yet true, to say, that the more we
                                        know, the more ignorant we become in the absolute sense, for it is only through
                                        enlightenment that we become conscious of our limitations. Precisely one of the
                                        most gratifying results of intellectual evolution is the continuous opening up
                                        of new and greater prospects.
                                    </p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="right floated author">
                                    <img class="ui avatar image"
                                         src="images/tesla_portrait_0-min.jpeg">
                                    Nikola Tesla
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fs-slide">
                    <div class="ui grid centered">
                        <div class="ui raised card">
                            <div class="content">
                                <div class="description">
                                    <p style="font-size: 18px;">Tell me and I forget.<br> Teach me and I remember. <br>Involve
                                        me and I learn.</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="right floated author">
                                    <img class="ui avatar image"
                                         src="images/benjamin-franklin.jpg">
                                    Benjamin Franklin
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fs-slide">
                    <div class="ui grid centered">
                        <div class="ui raised card">
                            <div class="content">
                                <div class="description">
                                    <p style="font-size: 18px;">Your time is limited, so don't waste it living someone
                                        else's life. Don't be trapped by dogma - which is living with the results of
                                        other people's thinking. Don't let the noise of others' opinions drown out your
                                        own inner voice. And most important, have the courage to follow your heart and
                                        intuition.</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="right floated author">
                                    <img class="ui avatar image"
                                         src="images/Steve_Jobs.jpg">
                                    Stev Jobs
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Quick Navigation -->
            <div class="fs-quick-nav">
                <label class="fs-quick-btn" for="slide-1"></label>
                <label class="fs-quick-btn" for="slide-2"></label>
                <label class="fs-quick-btn" for="slide-3"></label>
            </div>

            <!-- Prev Navigation -->
            <div class="fs-prev-nav">
                <label class="fs-prev-btn" for="slide-1"></label>
                <label class="fs-prev-btn" for="slide-2"></label>
                <label class="fs-prev-btn" for="slide-3"></label>
            </div>

            <!-- Next Navigation -->
            <div class="fs-next-nav">
                <label class="fs-next-btn" for="slide-1"></label>
                <label class="fs-next-btn" for="slide-2"></label>
                <label class="fs-next-btn" for="slide-3"></label>
            </div>
        </div>
    </div>
    <div class="ui grid sixteen wide column footerIcons center aligned">
        <i class="devicon-html5-plain"></i>
        <i class="devicon-css3-plain"></i>
        <i class="devicon-javascript-plain"></i>
        <i class="devicon-csharp-plain"></i>
        <i class="devicon-jquery-plain"></i>
        <i class="devicon-angularjs-plain"></i>
        <i class="devicon-nodejs-plain"></i>
        <i class="devicon-dot-net-plain"></i>
        <i class="devicon-mysql-plain"></i>
        <i class="devicon-github-plain"></i>
        <i class="devicon-wordpress-plain"></i>
        <i class="devicon-photoshop-plain"></i>
        <i class="devicon-illustrator-plain"></i>
        <i class="devicon-visualstudio-plain"></i>
        <i class="devicon-webstorm-plain"></i>

    </div>

</div>

<div class="tablet only mobile only ui grid sixteen wide column footerIcons center aligned greyBackground">
    <i class="devicon-html5-plain"></i>
    <i class="devicon-css3-plain"></i>
    <i class="devicon-javascript-plain"></i>
    <i class="devicon-csharp-plain"></i>
    <i class="devicon-jquery-plain"></i>
    <i class="devicon-angularjs-plain"></i>
    <i class="devicon-nodejs-plain"></i>
    <i class="devicon-dot-net-plain"></i>
    <i class="devicon-mysql-plain"></i>
    <i class="devicon-github-plain"></i>
    <i class="devicon-wordpress-plain"></i>
    <i class="devicon-photoshop-plain"></i>
    <i class="devicon-illustrator-plain"></i>
    <i class="devicon-visualstudio-plain"></i>
    <i class="devicon-webstorm-plain"></i>

</div>


<div class="computer only ui grid twelve wide column footer">
    <div class="sixteen wide column"><h1 class="TabHead">{{'emailField.head'|translate}}</h1></div>
    <div class="two wide column"></div>

    <div class="six wide column raised">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>{{'emailField.form.name'|translate}}</label>
                    <input type="text" name="uName" ng-model="uMail.uName"
                           placeholder="{{'emailField.form.name'|translate}}">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="text" name="uEmail" ng-model="uMail.uEmail" placeholder="Email">
                </div>
            </div>

            <div class="field">
                <label>{{'emailField.form.title'|translate}}</label>
                <input type="text" name="uSubject" ng-model="uMail.uSubject"
                       placeholder="{{'emailField.form.title'|translate}}">
            </div>
            <div class="field">
                <label>{{'emailField.form.message'|translate}}</label>
                <textarea name="uMessage" ng-model="uMail.uMessage"
                          placeholder="{{'emailField.form.message'|translate}}"></textarea>
            </div>
            <div class="ui center aligned grid">
                <button class="ui button black four wide column" type="submit">{{'emailField.form.button'|translate}}
                </button>
            </div>
        </form>

        <div class="ui inverted dimmer">
            <div class="content">
                <div class="center">
                    <h2 class="ui black icon header">
                        <i class="mail icon"></i>
                        {{'emailField.form.successMsg'|translate}}
                    </h2>
                </div>
            </div>
        </div>

    </div>
    <div class="two wide column"></div>

    <div class="ui grid six wide column middle aligned contactIcons">
        <i class="user circle icon"></i><span>Nikola Maletić</span><br>
        <i class="marker icon"></i><span>Beograd, Srbija</span><br>
        <i class="mail icon"></i><span>nmmaleta@gmail.com</span><br>
        <i class="mail icon"></i><span>maleta96@gmail.com</span><br>
        <i class="mobile icon"></i><span>+381 60 50 40 495</span><br>
    </div>
</div>
<!--Mobile/Tablet-->
<div class="tablet only mobile only ui grid twelve wide column footer">
    <div class="sixteen wide column"><h1 class="TabHead">Kontaktirajte me</h1></div>
    <div class="ui grid sixteen wide column center aligned contactIcons">
        <i class="user circle icon"></i><span>Nikola Maletić</span><br>
        <i class="marker icon"></i><span>Beograd, Srbija</span><br>
        <i class="mail icon"></i><span>nmmaleta@gmail.com</span><br>
        <i class="mail icon"></i><span>maleta96@gmail.com</span><br>
        <i class="mobile icon"></i><span>+381 60 50 40 495</span><br>
    </div>
    <div class="sixteen wide column raised">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>{{'emailField.form.name'|translate}}</label>
                    <input type="text" name="uName" ng-model="uMail.uName"
                           placeholder="{{'emailField.form.name'|translate}}">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input type="text" name="uEmail" ng-model="uMail.uEmail" placeholder="Email">
                </div>
            </div>

            <div class="field">
                <label>{{'emailField.form.title'|translate}}</label>
                <input type="text" name="uSubject" ng-model="uMail.uSubject"
                       placeholder="{{'emailField.form.title'|translate}}">
            </div>
            <div class="field">
                <label>{{'emailField.form.message'|translate}}</label>
                <textarea name="uMessage" ng-model="uMail.uMessage"
                          placeholder="{{'emailField.form.message'|translate}}"></textarea>
            </div>
            <div class="ui center aligned grid">
                <button class="ui button black four wide column" type="submit">{{'emailField.form.button'|translate}}
                </button>
            </div>
        </form>
    </div>
</div>

<div class="ui tiny modal">
    <div class="ui icon header">
        <i class="mail icon"></i>
        {{'checkEmail.head'|translate}}
    </div>
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>{{'emailField.form.name'|translate}}</label>
                    <input readonly="" type="text" ng-model="uMail.uName"
                           placeholder="{{'emailField.form.name'|translate}}">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input readonly="" type="text" ng-model="uMail.uEmail" placeholder="Email">
                </div>
            </div>

            <div class="field">
                <label>{{'emailField.form.title'|translate}}</label>
                <input readonly="" type="text" ng-model="uMail.uSubject"
                       placeholder="{{'emailField.form.title'|translate}}">
            </div>
            <div class="field">
                <label>{{'emailField.form.message'|translate}}</label>
                <textarea readonly="" ng-model="uMail.uMessage"
                          placeholder="{{'emailField.form.message'|translate}}"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative button">
            <i class="remove icon"></i>
            {{'checkEmail.negBtn'|translate}}
        </div>
        <div ng-click="sendMail()" class="ui positive right labeled icon button">
            <i class="checkmark icon"></i>
            {{'checkEmail.posBtn'|translate}}
        </div>
    </div>
</div>


<!-- Return to Top -->
<div class="computer only backtotop inverted">
    <div class="backtotop-morph"></div>
</div>


<div class="ui grid sixteen wide column center aligned greyBackground">
    <div style="padding: 2rem" class="ten wide column">
        <p>© Copyright 2017 : Nikola Maletić. All Rights Reserved.</p><img style="width: 35px; height: 35px"
                                                                           src="favicon.ico">
    </div>
</div>


<script type="text/javascript" src="javascripts/fundamental/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/fundamental/angular.min.js"></script>
<script type="text/javascript" src="javascripts/fundamental/semantic.min.js"></script>
<script type="text/javascript" src="javascripts/fundamental/aos.js"></script>
<script type="text/javascript" src="javascripts/fundamental/angular-translate.js"></script>


<script type="text/javascript" src="javascripts/homeJS.js"></script>


</body>
</html>
